.content-block{
    border: black solid 1px;
    margin-left: 280px;
    width: 80%;
    position: absolute;
    top: 8px;
}

.monstor-title{
    text-align: center;
}

.monstor-discription{
    text-align: justify;
    margin: 20px;
}